{% extends "base/index.html" %}
{% block title %} Profbrew - Login {% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}


{% block content %}
    <div class="container">

      <form class="login-form"id="login" action="/myprofile/" method="POST"> {% csrf_token %}        
        <input type="hidden" name="mnemonics" value="VERIFY_CRED">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
              <span class="input-group-addon"><i class="icon_profile"></i></span>
              <input type="text" class="form-control" placeholder="Username" name="username" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <select class="form-control input-lg m-bot15" name="user_type">
                <option value="Student">Student</option>
                <option value="Professor">Professor</option>
            </select>
              
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
            </label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            <button class="btn btn-info btn-lg btn-block" type="submit">Signup</button>
        </div>
      </form>

    </div>  

{% endblock %}